
  <div class="card-columns" id='info'></div>
  
  </div>
  <script>
 $(document).ready(function() {

$.getJSON('/tips/user_tips',limit=5, userTipData);
function userTipData(data) {
  // create variable with empty string
  
  var tipHTML='';

  $.each(data,function(tip, tipInfo) {
    tipHTML+="<div class='card' style='width: 18rem;'>" 
    tipHTML+="<div class='card-body'>"
    tipHTML+="<h5 class='card-title'>" +tipInfo.title +" </h5>"

    tipHTML+="<p class='card-text'>"+tipInfo.description+"</p>"
    tipHTML+="<a href='#' class='btn btn-primary'>Go somewhere</a>"
    tipHTML+="</div><div class='card-footer text-muted'>2 days ago</div></div>"


   
  }); // end of each


  // add finished HTML to page
  $('#info').html(tipHTML);
} // end processData
return false;

}); 

</script>